##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=SonarQube Service
After=syslog.target network.target

[Service]
Type=forking

ExecStart={{ install_sonarqube_lib_path }}/sonarqube-{{ install_sonarqube_version }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ install_sonarqube_lib_path }}/sonarqube-{{ install_sonarqube_version }}/bin/linux-x86-64/sonar.sh stop

User={{ install_sonarqube_user }}
Group={{ install_sonarqube_group }}
Restart=always

LimitNOFILE=131072
LimitNPROC=8192

[Install]
WantedBy=multi-user.target
